<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Superheros</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="btn btn-outline-light">
                        @Html.ActionLink("Superhero's", "SuperheroList", "Superhero", new { area = "" }, new { @class = "navbar-brand" })
                </button>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <button type="button" class="btn btn-outline-light">
                <p>@Html.ActionLink("Home", "Index", string.Empty)</p>
            </button>
                <p>&copy; @DateTime.Now.Year - Superheros</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
